* {
    background-color: bisque;
    margin: 0;
    box-sizing: border-box;

}

.nome {
    margin-top: 1cm;
    margin-left: 20px;
    margin-right: 1cm;
    margin-bottom: 1cm;
    font-size: 40px
}

.linha {
    background-color: black;
    width: 100%;
}

h3 {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: saddlebrown;
    font-style: italic;
}

.sessaoObjetivo {
    border: 20px solid bisque;
}

.todosH2 {
    border: 5px solid black;
    padding: 5px 5px 5px 5px;
    width: 11cm;
    background-color: saddlebrown;
    color: white;
}

.emNegrito {
    font-weight: 700;
}

.d-block {
    width: 100%;
}

.paragrafos {
    width: 30cm;
}